<h2>Eventos</h2>
<hr>

<form action="" class="form-inline">
  <div class="row g-2 mb-2 align-items-center">
    <div class="col-auto">
      <input type="text" class="form-control" placeholder="buscar" />
    </div>
    <div class="col-auto">
      <button class="btn btn-outline-success">Buscar</button>
    </div>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Imagem</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessooas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventos">
      <td>{{evento.eventoId}}</td>
      <td>
        <img src="assets/{{evento.imagemUrl}}" alt="" [style.width.px] = widthImg [style.margin.px] = marginImg>
      </td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>{{evento.lote}}</td>
      <td></td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="8">
        <h4>Nenhum evento encontrado</h4>
      </td>
    </tr>
  </tfoot>
</table>
