<div class="card rounded shadow-sm p-3">

  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="form-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Filtro: </div>
        </div>
        <input type="text"
              class="form-control"
              placeholder="Buscar por Tema e Local"
              [(ngModel)]="filtroLista" />
      </div>
    </div>
    <div>
      <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
        <i class="fa fa-plus-circle my-1"></i>
        <b class="ml-1 d-none d-sm-block">Novo</b>
      </a>
    </div>
  </div>
  <!-- <h3>Filtro: {{filtroLista}}</h3> -->

  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <th class="d-none d-md-table-cell">
          <button type="button" (click)="alterarEstadoImagem()" class="btn btn-outline-light btn-sm">
            <i class="{{!exibirImagem ? 'fa fa-eye':'fa fa-eye-slash'}}"></i>
            {{!exibirImagem ? 'Exibir':'Ocultar'}}
          </button>
        </th>
        <th>#</th>
        <th>Tema</th>
        <th class="d-none d-md-table-cell">Local</th>
        <th>Data</th>
        <th class="d-none d-md-table-cell">Qtd Pessooas</th>
        <th class="d-none d-md-table-cell">Lote</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td class="d-none d-md-table-cell">
            <img
            [collapse]="!exibirImagem"
            [isAnimated]="true"
            src="assets/{{evento.imagemUrl}}" alt=""
            [style.width.px] = larguraImagem
            [style.margin.px] = margemImagem>
        </td>
        <td>{{evento.eventoId}}</td>
        <td>{{evento.tema}}</td>
        <td class="d-none d-md-table-cell">{{evento.local}}</td>
        <td>{{evento.dataEvento | DateFormatPipe}}</td>
        <td class="d-none d-md-table-cell">{{evento.qtdPessoas}}</td>
        <td class="d-none d-md-table-cell">{{evento.lotes[0]?.nome}}</td>
        <td>
          <button type="button" class="btn btn-danger btn-lg" tooltip="Excluir" (click)="openModal(template)">
            <i class="fa fa-trash"></i>
            </button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8">
          <h4>Nenhum evento encontrado</h4>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- {{eventos | json}} -->

<ng-template #template>
  <div class="modal-body text-center">
    <p>tem certeza  que quer deletar este Evento?</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
  </div>
</ng-template>
